.tabContents input {
  border: none;
}

#calorie-form input {
  border: none;
  border-bottom: 1px solid orchid;
  border-left: 1px solid orchid;
}

#event1:hover ~ #ev1,
#event2:hover ~ #ev2,
#event3:hover ~ #ev3 {
  display: flex;
  position: relative;
  top: 30px;
  opacity: 0.9;
}

.todo-container input {
  border: none;
  border-bottom: 1px solid orchid;
  border-left: 1px solid orchid;
  border-radius: 10px 10px 0 10px;
  font-size: 15px;
}

#event-list {
  width: 60%;
  height: 60px;
}

#event-cal {
  width: 27%;
  height: 60px;
}

.todo-container input[type="submit"] {
  width: 10%;
  font-size: x-large;
  float: right;
  height: 40px;
  background-color: white;
  border: none;
}

.todo-container input[type="submit"]:hover {
  color: var(--grey);
  opacity: 0.5;
}

#list-menu {
  margin-top: 30px;
  display: flex;
  font-size: 20px;
  color: black;
  font-family: "Jua", sans-serif;
  padding-bottom: 20px;
}

#lm1 {
  margin-left: 40px;
  display: block;
  width: 47%;
  text-align: start;
}

#lm2 {
  display: block;
  width: 40%;
  text-align: start;
}

#todo-list {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 400px;
}

#todo-list li {
  border-bottom: var(--main-border);
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
  height: 50px;
  font-size: 22px;
  align-items: center;
  text-align: start;
}

#todo-list li span {
  width: 50%;
}

#todo-list li button {
  font-size: x-large;
  background-color: inherit;
  border: none;
  border-radius: 12px;
}

#todo-list li button:hover {
  color: var(--grey);
  opacity: 0.5;
}
