.welcome-header {
  display: flex;
  justify-content: center;
  align-items: end;
}

.welcome-header__text {
  color: orchid;
  width: 70%;
  text-align: center;
  font-size: 20px;
}

#login--form {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0px 30px;
  margin-bottom: 50px;
}

#login--form input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  /* border-bottom: 1px solid rgba(153, 82, 82, 0.2); */
  margin-bottom: 20px;
  /* transition: border-color 0.7s ease-in-out; */
}

#login--form input:not([type="submit"]) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.7s ease-in-out;
}

#login--form input::placeholder {
  color: rgba(0, 0, 0, 0.4);
}
#login--form input:focus {
  border-color: var(--yellow);
}
#login--form input[type="submit"] {
  /* background-color: var(--yellow); */
  transition: background-color 0.7s ease-in-out;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

#login--form input[type="submit"]:hover {
  color: white;
  background-color: orchid;
}

#login--form a {
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  color: inherit;
  font-size: 13px;
}
