footer {
  height: 60px;
  background-color: #f9f9fa;
  bottom: 0;
  position: fixed;
  width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 2px solid #ddd;
}

.bottom {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

#bottomMenu {
  width: 100%;
}

#bottomMenu a {
  float: left;
  padding-right: 10px;
  border-right: 1px solid #ddd;
  margin-left: 5px;
  margin-right: 5px;
}

#sns {
  display: flex;
  flex-direction: row;
}
